WORKSPACE_DIR=""
PUBLIC_TUNNEL_URL="https://your-domain.ngrok-free.app"
NGROK_AUTHTOKEN=add_your_ngrok_authtoken_here
NGROK_API_PORT=4040
URL_SIGNING_SECRET="add_your_custom_32_character_secret_here"
TAVILY_API_KEY=add_your_tavily_key_here
BRAVE_API_KEY=add_your_brave_key_here
FILE_SERVER_HOST=127.0.0.1
FILE_SERVER_PORT=8080
